/* animation sets */

/* move from / to  */

.pt-page-moveToLeft {
	-webkit-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}

.pt-page-moveFromLeft {
	-webkit-animation: moveFromLeft .6s ease both;
	animation: moveFromLeft .6s ease both;
}

.pt-page-moveToRight {
	-webkit-animation: moveToRight .6s ease both;
	animation: moveToRight .6s ease both;
}

.pt-page-moveFromRight {
	-webkit-animation: moveFromRight .6s ease both;
	animation: moveFromRight .6s ease both;
}

/********************************* keyframes **************************************/

/* move from / to  */

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(calc(-100% + 150px)); }
}
@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(calc(-100% + 150px)); transform: translateX(calc(-100% + 150px)); }
}

@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(calc(-100% + 150px)); }
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(calc(-100% + 150px)); transform: translateX(calc(-100% + 150px)); }
}

@-webkit-keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(calc(100% - 150px)); }
}
@keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(calc(100% - 150px)); transform: translateX(calc(100% - 150px)); }
}

@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(calc(100% - 150px)); }
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(calc(100% - 150px)); transform: translateX(calc(100% - 150px)); }
}