html {
    font-family: 'Spoqa Han Sans', Sans-serif;
    letter-spacing: -0.5px;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    background-color: #FAFAFA;
}
.btn {
    background-color: #607d8b; 
}
.btn:hover {
    background-color: #90a4ae; 
}
.modal {
    width: 70%;
    max-width: 850px;
    z-index: 999999 !important;
}
.modal-overlay {
    z-index: 999 !important;
}