html {
    font-family: 'Spoqa Han Sans', Sans-serif;
    letter-spacing: -0.5px;
}
body {
    background-color: #FAFAFA;
}

/* Title */
.title {
    text-align: center;
}
.title-recipe {
    font-weight: bold;
}
.title-count {
    text-decoration: underline;
}

/* Card */
.card-image {
    cursor: pointer;
}
.card-title {
    margin-top: 0px;
    font-weight: bold;
}
.card-author {
    color: #9e9e9e !important;
}
.card-action a {
    font-weight: bold;
}
.card-action > a > i {
    vertical-align: bottom;
    font-size: 20px;
    margin-right: 3px;
}
.like,
.bookmark {
    cursor: pointer;
    color: #9e9e9e !important;
}
.like-red {
    color: #EC5367 !important;
}
.bookmark-blue {
    color: #3C91CF !important;
}

/* Card image */
.card-image-hover-none {
    display: none;
}
.card-image-hover {
    background-color: rgba(0,0,0,0.3);
}
.card-image > img {
    position: relative;
    height: 200px;
    width: auto;
    overflow: hidden;
}

/* Floating button */
.fixed-action-btn {
    bottom: 45px;
    right:45px;
}
.btn-floating.btn-large {
    width: 80px;
    height: 80px;
}
.btn-floating.btn-large i {
    line-height: 80px;
}
.btn-large i {
    font-size: 64px;
}