html {
    font-family: 'Spoqa Han Sans', Sans-serif;
    letter-spacing: -0.5px;
    overflow-x: hidden;
    overflow-y: auto;
}
body {
    background-color: #FAFAFA;
}
.btn {
    background-color: #607d8b; 
}
.btn:hover {
    background-color: #90a4ae; 
}
.modal {
    width: 70%;
    max-width: 850px;
    z-index: 999999 !important;
}
.modal-overlay {
    z-index: 999 !important;
}
#preloader {
    display: none;
    position: absolute;
    z-index: 999999;
}
#preloader > .preloader-wrapper {
    width: 100px;
    height: 100px;
}
.hc { 
    width:200px; 
    left:0; 
    right:0; 
    margin-left:auto; 
    margin-right:auto; 
}
.vc { 
    height:40px; 
    top: 0; 
    bottom:0; 
    margin-top:auto; 
    margin-bottom:auto; 
}