.registration-background {
	background: #ffffff;
	position:relative;
}

#registration {
	width: 100%;
	height: 100em;
	position: absolute;
	top: 50%
}

.sheet {
	background: #48dbb8;
	background: -webkit-linear-gradient(#48dbb8, #ffffff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#48dbb8, #ffffff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#48dbb8, #ffffff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#48dbb8, #ffffff); /* Standard syntax */
	text-align: center;
	padding: 1em;
	width: 80%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	height: 50%;
}
.input-field {
	color:#ffffff;
	border-bottom-color: #ffffff;
}
.input-field label {
	color:#ffffff;
	left:2em;
}
#id_username {
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 1px 0 0 #ffffff;
	width: 90%;
}
#id_password {
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 1px 0 0 #ffffff;
	width: 90%;
}
img {
	width: 100px;
	height: 100px;
	margin-top: -20em;
	margin-bottom: 5em;
}
.explanation {
	font-family: 'Josefin Slab', serif;
	font-size: 1.1em;
	color: gray;
	line-height: 1em;
	margin-bottom: 2em;
}

.error {
	font-size: 0.9em;
	color: #EE6E73;
}

.error-login {
	margin-bottom: 7em;
}

.error-register {
	margin-top: -1em;
}

.btn-large,
	.btn-large:link,
	.btn-large:visited {
		width: 40%;
		height: 100%;
		background-color: #5c6865;
		border-radius: 50px;
	}

.btn-large:active,
	.btn-large:hover {
		background-color: #45778C;
	}

a.signup-forget {
	font-size: 1em;
	color: gray;
}

a.signup-forget:active,
	a.signup-forget:hover {
		text-decoration: underline;
		color: black;
	}

.right-align {
float: right;
	   word-break: keep-all;
}

h5 {
	font-weight: Bold;
	margin-bottom: 1.5em;
}

.last-button {
	margin-top: 1em;
	margin-bottom: 0.5em;
}
