<!DOCTYPE html>
<html>
<head>
<title>1</title>
</head>
<body>
	<form method="POST">
		{% csrf_token %}
		name<input type="text" name="name" /><br />
		direction<textarea name="direction"></textarea><br />
		thumbnail<input type="text" name="thumbnail" /><br />
		url<input type="text" name="url" /><br />
		ingredients<input type="text" name="ing_names" /><br />
		calories<input type="text" name="calories" /><br />
		health_labels<input type="text" name="hl" /><br />
		diet_labels<input type="text" name="dl" /><br />
		cautions<input type="text" name="c" /><br />
		<button type="submit">확인</button>
	</form>
</body>
</html>
