{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Font -->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:thinitalic,lightitalic,bolditalic" rel="stylesheet">

    <!-- Google Icon Font -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <!-- jQueryUI -->
    <link href="{% static 'jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui/jquery-ui.structure.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery-ui/jquery-ui.theme.min.css' %}" rel="stylesheet">

    <!-- Page Transition -->
    <link href="{% static 'PageTransitions/css/animations.css' %}" rel="stylesheet">

    <!-- custom stylesheet -->
    <link href="{% static 'recipe/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'recipe/css/sidenav.css' %}" rel="stylesheet">
    <link href="{% static 'recipe/css/recipe_list.css' %}" rel="stylesheet">
    <link href="{% static 'recipe/css/detail.css' %}" rel="stylesheet">
    <link href="{% static 'recipe/css/add.css' %}" rel="stylesheet">
    <link href="{% static 'recipe/css/refrigerator.css' %}" rel="stylesheet">
    <link href="{% static 'recipe/css/folder.css' %}" rel="stylesheet">

    <title>{{ title }}</title>
  </head>
  <body>

    <div id="pt-main">

      <div class="pt-page pt-page-1">

        <!-- Ingredients -->
        <div id="refrigerator">
          <div class="cover">
            <div class="left_gate"></div>
            <div class="right_gate"></div>
            <div id="refri-inside">

              <div class="row">
                {% for category in ingredients %}
                {% if category != None and cateogory != '' %}
                <div class="refri-category col s3">
                  <a href="#{{ category }}-modal">
                    {% with 'image/'|add:category|add:'.png' as ingre_src %}
                    <img src="{% static ingre_src %}">
                    {% endwith %}
                    <p>{{ category }}</p>
                  </a>
                </div>
                {% endif %}
                {% endfor %}
              </div>              

            </div>
          </div>
        </div>

        <!-- Side Nav for Transition -->
        <div id="sidenav" class="valign-wrapper right-align">
          <div>
            <p class="sidenav-text">Make 
            <br><span id="sidenav-recipes">0</span>
            <br><span>DISHES</span>
            </p>
            <a id="swap-btn" class="btn-floating btn-large waves-effect waves-light z-depth-0"><i class="material-icons">swap_horiz</i></a>
            <p class="sidenav-text">with
            <br><span id="sidenav-ingres">0</span>
            <br><span>INGREDIENTS</span>
            </p>
          </div>
        </div>

      </div>

      <div class="pt-page pt-page-2">
        <!-- Recipes -->
        <div id="recipes">
          <div class="grid">
            {% for recipe in recipes %}
            <div class="card grid-item">
              <div id="{{ recipe.id }}" class="card-image">
                <div class="card-image-hover card-image-hover-none">
                  <div class="valign-wrapper">
                    <a class="center-align" href="#detail-modal">More detail</a>
                  </div>
                </div>
                {% with 'recipe/img/'|add:recipe.thumbnail as thumbnail_src %}
                <img src="{% static thumbnail_src %}">
                {% endwith %}
              </div>
              <div class="card-content">
                <h4 class="card-title">{{ recipe.name }}</h4>
                <p class="card-author">{{ recipe.author }}</p>
              </div>
              <div class="card-action">

                {% if recipe in account.likes.all %}
                <a id="like-{{ recipe.id }}" class="like like-red"><i class="material-icons">favorite</i>{{ recipe.no_likes }}</a>
                {% else %}
                <a id="like-{{ recipe.id }}" class="like"><i class="material-icons">favorite_border</i>{{ recipe.no_likes }}</a>
                {% endif %}

                <a id="rating-{{ recipe.id }}" class="rating rating-yellow"><i class="material-icons">grade</i>{{ recipe.score }}</a>

                {% if recipe in account.bookmarks.all %}
                <a id="bookmark-{{ recipe.id }}" class="bookmark bookmark-blue"><i class="material-icons">bookmark</i>SAVE</a>
                {% else %}
                <a id="bookmark-{{ recipe.id }}" class="bookmark"><i class="material-icons">bookmark_border</i>SAVE</a>
                {% endif %}

              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <!-- Add Button -->
        <div id="add" class="fixed-action-btn">
          <a class="btn-floating btn-large waves-effect waves-light red" href="#add-modal"><i class="material-icons">add</i></a>
        </div>  
      </div>

    </div>

    <!-- Add -->
    <div id="add-modal" class="modal modal-fixed-footer">
      <form action="#">
        <div class="modal-content">
          <h4 id="add-name">Share your recipe!</h4>

          <h6 class="add-title">Pictures</h6>
          <p class="add-subtitle">Upload the images of your recipe.</p>
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
          </div>

          <h6 class="add-title">Ingredients</h6>
          <p class="add-subtitle">Search the ingredients it needs.</p>
          <div class="row">
            <div class="col s12">
              <div id="add-ingredients" class="input-field ui-widget">
                <input id="input-ingredients" type="search" name="ingredients" class="ui-autocomplete-input" autocomplete="off">
                <label for="input-ingredients"><i class="material-icons">search</i></label>
                <i class="material-icons close">close</i>
              </div>
            </div>
          </div>

          <h6 class="add-title">Direction</h6>
          <p class="add-subtitle">Describe your recipe in detail.</p>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" name="action" class="modal-action modal-close waves-effect waves-green btn blue-grey">Submit
            <i class="material-icons right">send</i>
          </button>
          <a href="#!" id="add-cancel" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        </div>
      </form> 
    </div>

    <!-- Detail -->
    <div id="detail-modal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4 id="detail-name">Modal Header</h4>
        <p id="detail-author">A bunch of text</p>
        <img id="detail-thumbnail" src="">
        <div id="detail-ingredients">
          <p class="modal-subtitle"><span>Ingredients</span></p>
          <p class="modal-subcontent"></p>
        </div>
        <div id="detail-direction">
          <p class="modal-subtitle"><span>Direction</span></p>
          <p class="modal-subcontent"></p>
        </div>
      </div>
      <div class="modal-footer">
        <a id="like-" class="modal-action btn-flat like"><i class="material-icons">favorite</i>2</a>
        <a id="rating-" class="modal-action btn-flat rating"><i class="material-icons">grade</i>4.0</a>
        <a id="bookmark-" class="modal-action btn-flat bookmark"><i class="material-icons">bookmark</i>SAVE</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>


    <!-- Ingredients -->
    {% for category, ingres in ingredients.items %}
    <div id="{{ category }}-modal" class="modal modal-fixed-footer">
      <div class="modal-content">
        <h4 id="detail-name">{{ category }}</h4>
        {% for ingre in ingres %}
          {% for id, name in ingre.items %}
            <p class="ingre-list">
              <input type="checkbox" id="like-ingre-{{ id }}" class="like-ingre" value="{{ name }}"/>
              <label for="like-ingre-{{ id }}"></label>
              <input type="checkbox" id="hate-ingre-{{ id }}" class="hate-ingre" value="{{ name }}"/>
              <label for="hate-ingre-{{ id }}">{{ name }}</label>
            </p>
          {% endfor %}
        {% endfor %}
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
    {% endfor %}

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <!-- materializecss -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <!-- jQueryUI -->
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- Masonry -->
    <script src="{% static 'masonry/masonry.pkgd.min.js' %}"></script>

    <!-- Page Transition -->
    <script src="{% static 'PageTransitions/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'PageTransitions/js/pagetransitions.js' %}"></script>

    <!-- custom script -->
    <script src="{% static 'recipe/js/recipe_list.js' %}"></script>
    <script src="{% static 'recipe/js/detail.js' %}"></script>
    <script src="{% static 'recipe/js/add.js' %}"></script>
    <script src="{% static 'recipe/js/folder.js' %}"></script>
    <script src="{% static 'recipe/js/refrigerator.js' %}"></script>

  </body>
</html>
