{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'PageTransitions/css/component.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'PageTransitions/css/animations.css' %}" />

    <link href="{% static 'recipe/css/refrigerator.css' %}" rel="stylesheet">
    <link href="{% static 'recipe/css/folder.css' %}" rel="stylesheet">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">


  </head>
  <body>

    <div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">insert_chart</i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">format_quote</i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">publish</i></a></li>
      <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

    <div id="pt-main" class="pt-perspective">
      <div class="pt-page pt-page-1"></div>


        </div>
      <div class="pt-page pt-page-2">

        <div class="container">
          <div class="cover">
            <div class="left_gate"></div>
            <div class="right_gate"></div>
            <div class="container" id = "container">
              <div id="loader">
              </div>

              <div id="desktop">
                <ul id = "desktopul">
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">Meats</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">Meats</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                  <li class="desktop-icon">
                  <div class="folder"></div>
                  <div class="folder-tab"></div>
                  <span class="folder-name">CodePen</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'PageTransitions/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'PageTransitions/js/pagetransitions.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{% static 'recipe/js/folder.js' %}"></script>

  </body>
  <script>
    $(".container").css("height", "100%");
    $(".container").css("width", "100%");
    $("#desktop").css("height", "100%");
    $("#desktop").css("width", "100%");
    $("#desktopul").css("width", "100%");
    $("#desktopul").css("height", "100%");
    $(".desktop-icon").css("width", "20%");
    $(".desktop-icon").css("height", "17%");
    $(".folder").css("width", "120%");
    $(".folder").css("height", "120%");
    $(".folder").css("background-image", "url(\"../../static/image/meat.png\")");
    $(".folder").css("background-size", "100% 100%");

  </script>



</html>
