{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
<!--Import Google Icon Font-->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.4/css/materialize.min.css">
  <link rel="stylesheet" herf="{% static 'css/profile.css' %}">
<!-- Font -->
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Josefin+Slab:300italic' rel='stylesheet' type='text/css'>
<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- theme-color -->
<meta name="theme-color" content="#5eb8c6">

<!-- Favicon -->
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <title>{{title}}</title>
</head>
<body>
	<a href="{% url 'test' %}">InCook</a>
	<p>{{username}}</p>
	<ul>
	{% for recipe in like|safeseq %}
	<li>{{ recipe }}</li>
{% endfor %}
	</ul>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.4/js/materialize.min.js"></script>
</body>
</html>
